* {
	font-family: 'Nunito', sans-serif;
}
.root-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	background-color: #62d39f;
}

h1 {
	color: white;
	text-align: center;
}

.input-container {
	width: 70vmin;
	max-width: 70vmin;
}
.input-container > input {
	width: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	height: 25vmin;
	padding: 10px;
	font-size: 15vmin;
	color: white;
	text-align: center;
	font-weight: 600;
}
button {
	max-width: 500px;
	width: 65vmin;
	height: 60px;
	border-radius: 10px;
	border: none;
	color: #3bce8a;
	font-size: 5vmin;
	cursor: pointer;
}
button:focus {
	outline: unset;
}

.mt-5 {
	margin-top: 5%;
}
.hide {
	display: none;
}
